body {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
}

.menu {
  float: left;
  font-size: 14px;
  color: #880800;
}

footer {
  background-color: #c7c7c7;
  border: solid 1px #000000;
  border-radius: 5px;
  display: block;
}